<section class="full-screen" style="background-image: url(<%= @homepage_banner %>)"></section>

<section class="section-40">
  <container>
    <row>
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h1>AMF Creative</h1>
        <p><%= @homepage_about %></p> 
      </div>
    </row>
  </container>
</section>

<section class="section-40">
  <div class="container">
    <div class="row text-center">
      <div class="my-xs-20">
        <%= @homepage_portfolio %>
      </div>
      <div class="image-tile hover-tile mb-sm-0">
        <%= link_to "https://vimeo.com/#{@portfolios[0].video_src}?autoplay=1", class: 'venobox', 'data-vbtype': 'video' do %>
          <%= image_tag @portfolios[0].image.src, alt: @portfolios[0].image.alt %>
        <% end %>
        <div class="hover-state">
          <h3 class="uppercase mb8"><%= @portfolios[0].title %></h3>
        </div>
      </div>
      <% @portfolios[1..2].each do |port| %>
        <div class="col-sm-6 px-xs-0">
          <div class="image-tile hover-tile mb-sm-0">
            <%= link_to "https://vimeo.com/#{@portfolios[0].video_src}?autoplay=1", class: 'venobox', 'data-vbtype': 'video' do %>
              <%= image_tag port.image.src, alt: port.image.alt %>
            <div class="hover-state">
              <h3 class="uppercase mb8"><%= port.title %></h3>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div>
        <%= link_to t('frontend.buttons.learnmore'), portfolios_path, class: 'btn btn-dark btn-lg my-xs-20' %>
      </div>
    </div>
  </div>
</section>

<section class="section-40">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="uppercase mb64 mb-xs-40"><%= t('frontend.homepage.clients') %></h4>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="logo-carousel">
        <ul class="slides">
          <% @clients.each do |client| %>
          <li>
            <%= image_tag client.image.src, alt: client.name %>
          </li>
          <% end %>
        </ul>
      </div>
      <!--end of logo slider-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<script>
  $( document ).on('turbolinks:load', function() {
    $('.venobox').venobox();
    $('.logo-carousel').flexslider({
      minItems: 1,
      maxItems: 4,
      move: 1,
      itemWidth: 200,
      itemMargin: 0,
      animation: "slide",
      slideshow: true,
      slideshowSpeed: 3000,
      directionNav: false,
      controlNav: false
    }); 
  });
</script>