<%= form_tag controller: 'admin/static_contents', action: 'system' do %>
<%= hidden_field_tag '_method', 'patch' %>
  <ul class="nav nav-tabs nav-justified my-xs-20" role="tablist">
    <li class="active"><a role="tab" href="#basics_zh_tw" data-toggle="tab">繁中</a></li>
    <li ><a role="tab" href="#basics_zh_cn" data-toggle="tab">簡中</a></li>
    <li ><a role="tab" href="#basics_en" data-toggle="tab">英文</a></li>
  </ul>
  <div class="tab-content mt-xs-20">
    <% {zh_tw: 'active', zh_cn: 'fade', en: 'fade'}.each do |key, value| %>
    <div role="tabpanel" class="tab-pane <%= value %>" id="basics_<%= key %>">
      <% @system.except('tracking').fetch(key.to_s).each do |k1, v1| %>
      <div class="form-group">
        <%= label_tag k1, '網站名稱' %>
        <%= text_field_tag "system[#{key}][#{k1}]", v1, class: 'form-control' %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="form-group">
  <% @system.fetch('tracking').each do |k1, v1| %>
    <%= label_tag k1, 'Google Analytics 追蹤碼' %>
    <%= text_field_tag "system[tracking][#{k1}]", v1, class: 'form-control' %>
  <% end %>
  </div>
  <%= submit_tag "確認送出", class: "btn btn-primary form-control mt-xs-20" %>
<% end %>

<div class="row mt-xs-20">
  <div class="col-md-6">
    <%= form_for @admin_logo do |f| %>
      <div class="form-group">
        <%= f.label 'Logo' %>
        <%= f.file_field :src,'data-default-file': @admin_logo.src, data: {'max-file-size': '200k'}, class: 'dropify' %>
      </div>
      <%= f.submit '確認送出', class: 'btn btn-primary form-control my-xs-10' %>
    <% end %>
  </div>
  
  <div class="col-md-6">
    <%= form_for @admin_favicon do |f| %>
      <div class="form-group">
        <%= f.label 'favicon' %>
        <%= f.file_field :src, 'data-default-file': @admin_favicon.src, data: {'max-file-size': '200k'}, class: 'dropify' %>
      </div>
      <%= f.submit '確認送出', class: 'btn btn-primary form-control my-xs-10' %>
    <% end %>
  </div>
</div>

<%= render 'layouts/admin/dropify' %>