<%= simple_form_for @admin_metum do |f| %>
  <ul class="nav nav-tabs nav-justified my-xs-20" role="tablist">
    <li class="active"><a role="tab" href="#basics_zh_tw" data-toggle="tab">繁中</a></li>
    <li ><a role="tab" href="#basics_zh_cn" data-toggle="tab">簡中</a></li>
    <li ><a role="tab" href="#basics_en" data-toggle="tab">英文</a></li>
  </ul>
  <div class="tab-content mt-xs-20">
    <% {zh_tw: 'active', zh_cn: 'fade', en: 'fade'}.each do |key, value| %>
    <div role="tabpanel" class="tab-pane <%= value %>" id="basics_<%= key %>">
      <div class="form-group">
        <%= f.input :"title_#{key}", label: 'Title', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.input :"description_#{key}", label: 'Description', as: :text, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.input :"og_title_#{key}", label: 'OG Title', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.input :"og_description_#{key}", label: 'OG Description', as: :text, class: "form-control" %>
      </div>
    </div>
    <% end %>
    <div class="form-group">
      <%= f.file_field :og_image, 'data-default-file': @admin_metum.og_image, data: {'max-file-size': '200k'}, class: "dropify" %>
    </div>
  </div>
  <%= f.submit "確認送出", class: "btn btn-primary form-control mt-xs-20" %>
  <%= link_to "取消", admin_meta_path, class: "btn btn-default form-control mt-xs-20" %>
<% end %>
<%= render 'layouts/admin/dropify' %>