<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= @site_name %></title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">
  <!-- Main Header -->
  <header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>AMF</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>AMF Creative</b></span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs"><% if admin_user_signed_in?  %><%= current_admin_user.email %><% end %></span>
            </a>
            <ul class="dropdown-menu">
              <!-- Menu Footer-->
              <li class="user-footer">
                <div>
                  <%= link_to "修改密碼", edit_admin_user_registration_path, class: "btn btn-default btn-flat form-control mb-xs-10" %>
                  <%= admin_session %>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
          <a href="#"><i class="fa fa-cog"></i> <span>首頁</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><%= link_to '關於我們簡介', edit_admin_content_path(@homepage_about.id) %></li>
            <li><%= link_to '作品集簡介', edit_admin_content_path(@homepage_portfolio.id) %></li>
          </ul>
        </li>
        <li>
          <%= link_to admin_portfolios_path do%>
            <%= content_tag :i, '', class: 'fa fa-cog' %>
            <%= content_tag :span, '作品集' %>
          <% end %>
        </li>
        <li>
          <%= link_to admin_teams_path do%>
            <%= content_tag :i, '', class: 'fa fa-cog' %>
            <%= content_tag :span, '團隊' %>
          <% end %>
        </li>
        <li>
          <%= link_to admin_clients_path do%>
            <%= content_tag :i, '', class: 'fa fa-cog' %>
            <%= content_tag :span, '客戶' %>
          <% end %>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-cog"></i> <span>關於我們</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><%= link_to '簡介', edit_admin_content_path(@about_intro.id) %></li>
            <li><%= link_to '聯絡資訊', admin_about_us_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to admin_inquiries_path do%>
            <%= content_tag :i, '', class: 'fa fa-cog' %>
            <%= content_tag :span, '訊息' %>
          <% end %>
        </li>
        <li>
          <%= link_to admin_meta_path do%>
            <%= content_tag :i, '', class: 'fa fa-cog' %>
            <%= content_tag :span, 'SEO' %>
          <% end %>
        </li>
        <li>
          <%= link_to admin_system_path do%>
            <%= content_tag :i, '', class: 'fa fa-cog' %>
            <%= content_tag :span, '系統設定' %>
          <% end %>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-cog"></i> <span>語言管理</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><%= link_to '更新語言', admin_translations_path %></li>
            <li><%= link_to '新增語言', new_admin_translation_path %></li>
          </ul>
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content container-fluid">
    <div id="notification" class="form-group text-center">  
      <%#= notice_msg %>
    </div>
      <%= yield %>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- Default to the left -->
    <strong>Copyright&copy;<%= Date.today.year %> <a href="#">Company</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
</body>
</html>