<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= page_title @site_name, @title %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="<%= request.url %>" />
    <link rel="icon"      href="<%= @favicon %>" type="image/png"/>
    <%= meta_desc_tag @meta_desc %>
    <%= og_tag @og %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="CbQvWNJdE8ePSJZA1xubgyMhp-x7NonzxQG71zXe5Dw" />
    <meta name="baidu-site-verification" content="iRS1gcXRP5" />
  </head>

  <body>
    <div class="main-wrapper">
      <%= render 'layouts/nav' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= analytics_tracking @ga_id %>
    </div>
  </body>
</html>
